* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #f1f1f1;
}

body {
    overflow-x: hidden;
}

.everything {
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .main {
        padding: 10px;
    }
    .carousel-slide img{ 
        max-width: 100%;
    }
}

@media screen and (min-width: 601px) {
    .everything {
        max-width: 100%;
    }
}

.header {
    padding: 10px;
    top: 0;
    width: 100%;
}

nav { 
    width: 80%;
    position: sticky;
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 5px;
}

.logo img {
    display: block;
    width: 200px;
    margin-top: 10px;
}

.nav-links {
    text-align: center;
}

.nav-links ul {
    list-style: none;
    margin-top: 5px;
}

.nav-links ul li { 
    margin: 0 10px;
    display: inline-block;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.title {
    position: absolute;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    float: left;
    writing-mode: vertical-rl; /* Changed from vertical-lr to vertical-rl */
    text-orientation: mixed; /* Changed from sideways to mixed */
    top: 20px; /* Adjust this value as needed to control when the title becomes sticky */
    transform: rotate(-180deg);
    position: sticky;
    z-index: 999;
    font-weight: normal;
}

.carousel-container {
    position: relative;
    max-width: 60%;
    margin: 2% auto;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.carousel-slide.active {
    opacity: 1;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 5px;
    left: 50%;
    background-color: none;
    transform: translateX(-50%);
    z-index: 1;
    padding-top: 0px; /* Add padding to increase space */
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators li.active {
    background-color: #333;
}

.carousel-slide .caption {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000000;
    width: 80%;
    padding: 0px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel-slide.active .caption {
    opacity: 1;
}

.caption p {
    font-size: 14px;
}

/* INVITED SPEAKERS PAGE */

.flexgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    max-width: 70%;
    width: 100%;
}

.photo-left {
    height: 350px;
    width: auto;
}

.paragraph-left {
    flex: 1;
    margin-right: 120px;
    border-left: 5px solid #FFD800;
    padding: 15px;
    text-align: justify;
}

.photo-right {
    height: 350px;
    width: auto;
}

.paragraph-right {
    flex: 1;
    margin-left: 120px;
    border-right: 5px solid #0056B9;
    padding: 15px;
    text-align: justify;
}

.name {
    font-weight: bold;
}


#scrollToTop {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#scrollToTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    left: 34%;
    width: 32%;
    background-color: #f1f1f1;
    padding: 5px 0;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}

.sponsor-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.ty {
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.sponsor-logos img {
    max-height: 30px;
}
 

/* PROGRAM PROGRAM PROGRAM */

.date {
    padding: 5px; 
    margin-left: 150px; 
    font-size: 14px;
}

.dateline {
    margin-right: 10%;
    margin-left: 150px; 
    background-color: rgb(175, 175, 175);
    height: 1px;
}

.eventline {
    margin-right: 10%;
    margin-left: 170px; 
    background-color: rgb(222, 221, 221);
    height: 0.5px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.event {
    margin-top: 0px; 
    padding: 10px; 
    margin-left: 160px; 
    font-size: 18px;
}

.event::before {
    content: "";
    position: absolute;
    left: 155px;
    height: 23px;
    width: 5px; 
    background-color: var(--line-color);
    border-radius: 12px;
}

.location {
    margin-top: 10px;
    font-style: italic;
    position: absolute; 
    right: 45%;
}

.time {
    margin-top: 10px;
    position: relative; 
    margin-right: 10%;
}

.list {
    display: flex; 
    flex-direction: column;
}

.bullets {
    margin-left: 170px;
    padding: 10px; 
}


.wrapper {
	max-width: 80rem;
	margin: 0 auto;
}

.attendeeslist {
	margin-top: 10px;
    padding: 1.5rem 1.5rem 1.5rem 4em;
	border: 0.3rem solid #0056B9;
	columns: 15rem;
	column-gap: 7rem;
	column-rule: 4px dotted #FFD800;;
	border-radius: 0.5rem;
    margin-left: 150px;
    margin-right: 150px;
}

ul > * + * {
	margin-top: 0.5rem;
}

li.uname {
	break-inside: avoid;
}

li.uname {
	display: block;
    font-size: 16px;
}

.position {
    margin-top: 10px;
    margin-left: 150px;
}

.chair {
  display: flex;
}

.stuff {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: center;
  align-items: center;
}

.cochairs {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.small-images {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.small-images img {
  margin-right: 10px;
}

.small-images p {
  font-size: 12px;
  max-width: 200px;
}

.multiline {
    display: flex;
    flex-direction: column;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    max-width: 80%;
    width: 100%;
}

.photo {
    width: auto;
}

.p1 {
    flex: 1;
    margin-right: 150px;
    max-width: 45%;
    padding: 15px;
}

.p2 {
    flex: 1;
    margin-left: 150px;
    max-width: 45%;
    padding: 15px;
}

.imgcap {
    display: flex;
    flex-direction: column;
}

.cap {
    margin-top: 5px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}